# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated data
data/processed/

# Model files
*.pkl
*.joblib

# Logs
*.log